ol,
ul {
    list-style: none;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

/* *************************************** */

a {
    color: rgb(45, 75, 248);
    text-decoration: none;
    font-family: 'Domine', serif;
}

h1, p, label, tr, td {
    font-family: 'Domine', serif;
}

li{
    list-style: none;
}

/* ***************** HEADER ***************** */

header {
    height: 200px;
}

header nav {
    
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
}

.nav-left ul {
   margin-top: 2vw;
   margin-left: 2vw;
}

.nav-left ul li a{
    font-size: 1vw;
}

.nav-right {
    margin-top: 2vw;
    margin-right: 4vw;
    display: flex;

 }

 .nav-right li a{
    font-size: 1vw;
 }

#nav-right a{
    margin: 0 10px 0 10px;
    font-weight: bold;
}



/* ************************* WRAPPER ****************** */

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.center {
    display: flex;
    width: 50vw;
    font-size: 40px;
    margin: 0 auto 3vw auto;
    padding-top: 10vw;
    
    justify-content: center;
}


#forum p{
    margin: 0 auto;
    width: 40vw;
    font-size: 1.1vw;
    text-align: center;
}

#forum h1 {
    font-size: 2.5vw;
}

#forum2 p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(200, 229, 246);
    border-radius: 5px;
    margin-top: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(45, 75, 248);
}

.forum2container {
    width: 30%;
    margin: 0 auto;
}

.registerForm > div {
    margin-top: 20px;
    margin-left: 15px;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm > div label {
    margin-right: 10px;
    margin-bottom: 20px;
}


.registerFormLog > div {
    margin-top: 20px;
    margin-left: 15px;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerFormLog > div label {
    margin-right: 10px;
    margin-bottom: 20px;
}

input {
    height: 25px;
    
}

.profil-nav {
    margin: 2.5vw auto 0 auto;
    width: 90%;

}

#button {
    border-color: transparent;
    background-color: rgb(200, 229, 246);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

#button input {
    background-color: rgb(45, 75, 248);
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    height: 55px;
    width: 24.5vw;
    border-radius: 5px;
}
#button:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

#button2 {
    border-color: transparent;
    background-color: rgb(200, 229, 246);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

#button2 input {
    background-color: rgb(45, 75, 248);
    border: none;
    color: white;
    font-size: 1.7vw;
    cursor: pointer;
    height: 55px;
    width: 27.5vw;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7); 
    -moz-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
    transition: 0.5s; 
}

#button2:hover {
    transform: scale(1.03);
    transition: 0.5s;
}




/* ********************* Categorie ************************ */


.categoryList {
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    margin-bottom: 80px;
    margin-top: 50px;
}

.containerMainCategory {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.supprimerCategory {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: red;
    margin-right: 1.5vw;
}

.categoryContainer {
    background-color: rgb(200, 229, 246);
    margin: 20px 0 10px 0;
    display: flex;
    height: 50px;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    filter: grayscale(100%);
}

.categoryContainer:hover {
    background-color: rgb(172, 209, 231);
    filter: grayscale(0%);
    transition: 0.5s;
}

.categoryContainer a {
    margin-left: 1.5vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vw;
    align-items: center;
}

.categoryLink {
    display: flex;
}

.categoryContainerAdd {
    background-color: rgb(200, 229, 246);
    margin: 50px 0 10px 0;
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(140, 172, 247, 0.5); 
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.categoryContainerAdd input{
    width: 10vw;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.categoryContainerAdd label {
    margin-top: 80px;
}

/* ********************* Topic ************************ */

.topicList {
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    margin-bottom: 40px;
    margin-top: 50px;
}

.containerMainTopic {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.containerMainTopic2 {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 37vw;
}

.containerMainAdd a {
    width: 9.5vw;
    height: 20px;
    background-color: rgb(200, 229, 246);
    display: block;
    padding: 25px 20px 20px 30px;
    border-radius: 5px;
}

.supprimerTopic {
    /* display: flex;
    align-items: center; */
    margin-top: 5px;
    color: red;
    margin-right: 15px;
}

.topicContainerAdd {
    background-color: rgb(200, 229, 246);
    margin: 20px auto 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 5px;
    width: 40vw;
    box-shadow: 0 0 50px rgba(140, 172, 247, 0.5); 
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.topicContainerAdd label {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.1vw;
}

.topicContainerAdd input {
    width: 8.5vw;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
}

.topicContainerAdd textarea {
    margin-top: 20px;
    resize: vertical;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
}

.addTopicContainer {
    background-color: rgb(200, 229, 246);
    font-size: 0.9vw;
    height: 3vh;
    margin-top: 50px;
    margin-bottom: 10px;
    align-items: center;
    width: 3vw;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
}

.topicContainer {
    background-color: rgb(200, 229, 246);
    margin: 20px 0 20px 0;
    height: 60px;
    border-radius: 5px;
    width: 32vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(172, 209, 231);
    filter: grayscale(100%);
    transition: 0.5s;
}

.topicContainer:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

.flexTopic {
    margin-bottom: 15px;
}

.topicContainer a {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

span {
    text-transform: lowercase;
    font-size: 0.9vw;
}

strong {
    font-weight: bold;
    font-size: 1.1vw;
}

.buton0  {
    width: 5vw;
    height: 35px;
    color: rgb(69, 69, 69);
    border: none;
    background-color: rgb(200, 229, 246);
    font-weight: bold;
    font-family: 'Domine', serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1vw;
}

.buton  {
    width: 5vw;
    height: 35px;
    color: rgb(69, 69, 69);
    border: none;
    background-color: rgb(200, 229, 246);
    font-weight: bold;
    font-family: 'Domine', serif;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 29.6vw;
    margin-top: 20px;
    font-size: 1vw;
}

.buton2  {
    width: 5vw;
    height: 35px;
    color: rgb(69, 69, 69);
    border: none;
    background-color: rgb(200, 229, 246);
    font-weight: bold;
    font-family: 'Domine', serif;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 29.5vw;
    margin-top: 10px;
    font-size: 1vw;
}

.centerTopics {
    background-color: rgb(200, 229, 246);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 40px;
    margin: 50px auto;
    border-radius: 5px;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(45, 75, 248);
}

.centerTopics2 {
    background-color: rgb(200, 229, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 40px;
    margin: 50px auto;
    border-radius: 5px;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(248, 45, 45);
}


.flexTest {
    flex-direction: column;
}

.adminPannel {
    display: flex;
    /* justify-content: space-between; */
    height: 30px;
    width: 31vw;
    font-size: 1vw;
}

.adminPannel a:nth-child(2) {
    margin-left: 15vw;
}

.adminPannel i {
    margin-left: 1vw;
}

.adminPannel a  {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}
/* ********************* POST ************************ */

.postList {
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    margin-bottom: 90px;
    margin-top: 50px;
}


.listTable {
    background-color: rgb(200, 229, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}


.listTable thead {
    display: flex;
    justify-content: space-around;
}

.listTable tr {
    min-width: 100%;
}

.listTable th {
    min-width: 100%;
}

.listTable:first-child {
    margin-top: 50px;
}

.postContainer {
    width: 50vw;
    margin: 0 auto;
}

.postContainer:nth-child(even) .listTable {
    background-color: rgb(100, 192, 245);
}

.postContainer:nth-child(odd) .listTable {
    background-color: rgb(200, 229, 246);
}


tbody tr {
    margin: 20px 0 5px 0;
    font-size: 20px;
    color: rgb(69, 69, 69);
    font-weight: 600;
}

.small{
    font-weight: 400;
    font-size: 15px;
}

th {
    font-size: 1.4vw;
    color: rgb(69, 69, 69);
    font-weight: bold;
}

tbody {
    display: flex;
}

.containerPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.bottomInfos {
    display: block;
    
}

.formPostRepondre {
    margin-top: 50px;
    font-size: 1.1vw;
    font-weight: bold;
}

.postTextarea {
    width: 49vw;
    padding: 10px;
    resize: vertical;
    font-size: 1.1vw;
    margin-top: 20px;
}

.supprimerPost {
    margin-top: 10px;
    margin-left: 1px;
}

.supprimerPost a {
    color: red;
    font-size: 1vw;
}

.absolute {
    display: flex;
    position: absolute;
}

.containerMain {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
}

/* ******************** LISTUSER ********************* */



.containerMainUser {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.flex {
    background-color: rgb(200, 229, 246);
    height: 200px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2vw;
}

.flex > th {
    display: flex;
    flex-direction: start;
}

.flex > td{
    margin: 5px 0 5px 5px;
}

.ban {
    margin-top: 230px;
    margin-left: -3.5vw;
    background-color: rgb(200, 229, 246);
    border-radius: 5px;
    border: none;
    width: 3.2vw;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8vw;
}

/* ********************** LOG IN ********************* */
.registerForm {
    margin-top: 50px;
    font-size: 2vw;
}

.registerFormLog {
    margin-top: 50px;
    font-size: 1.2em;
    
}

/* test de not() */
.registerForm label:not([for=""]) {
    display: inline-block;
    margin-right: 3vw;
}

.registerFormLog label:not([for=""]) {
    display: inline-block;
    margin-right: 50px;
}

.registerForm input:not([for=""]) {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.centerLogIn {
    background-color: rgb(200, 229, 246);
    width: 40%;  
    margin: 10vh auto 0 auto;
    display: flex;
    justify-content: center;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(140, 172, 247, 0.5); 
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.registerFormLog input{
    box-shadow: 0 0 50px rgba(140, 172, 247, 0.5); 
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.centerRegister {
    background-color: rgb(200, 229, 246);
    width: 40%;  
    margin: 10vh auto 0 auto;
    display: flex;
    justify-content: center;
    height: 550px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(140, 172, 247, 0.5); 
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.flexLogIn{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.emailLog {
    font-weight: bold;
    font-size: 1.5vw;
}

.emailLog input {
    width: 16vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    font-size: 1.563rem;
    margin-bottom: 20px;
}

.passLog {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: -1.5vw;
}

.passLog input {
    width: 16vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.3vw;
    margin-left: -1vw;
}

.email {
    font-weight: bold;
    font-size: 1.5vw;
}

.email input {
    width: 16vw;
    margin-left: 1vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    font-size: 1.3vw;
    margin-bottom: 20px;
    
}

.pass {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: -50px;
}

.pass input {
    width: 16vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.3vw;
    margin-left: -1.5vw;
}

.pseudo {
    font-weight: bold;
    font-size: 1.5vw;
}

.pseudo input {
    width: 16vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.3vw;
}

.confirmPass {
    
    font-weight: bold;
    font-size: 1.5vw;
}

.confirmPass input {
    width: 16vw;
    border: none;
    height: 2vw;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size:  1.3vw;
    margin-left: -0.5vw;
}

/* *********************FOOTER ********************** */

footer {
    display: flex;
    justify-content: center;
    margin-top: 450px;
    position: relative;
    bottom: 20px;
}


/* ************ TOTOP *************** */


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.toTop {
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: #5de6de;
    background-image: linear-gradient(150deg, #aee6f7 0%, #4b70f4 74%);
    border: none;
    border-radius: 50%;
    transition: 200ms;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
}

.toTop svg {
    fill: white;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.toTop:before {
    position: absolute;
    transform: translateX(-50%) translateY(45px);
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
}

.toTop:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    width: 80px;
    height: 80px;
}

.toTop:hover::before {
    color: #fff;
}

.toTop:hover svg {
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0% {transform: translateX(-50%) translateY(-50%)}
    25% {transform: translateX(-50%) translateY(-65%)}
    50% {transform: translateX(-50%) translateY(-50%)}
    75% {transform: translateX(-50%) translateY(-35%)}
    100% {transform: translateX(-50%) translateY(-50%)}
}

.toTop:focus {
    outline: none;
}

/* ********************************* BURGER + RESPONSIVE ************************** */


.menu-burger {
    cursor: pointer;
    display: none;
    width: 4vw;
    height: 3vw;
    position: relative;
    float: right;
    margin-right: 4vw;
    margin-top: 3vw;
}
.ligne-burger {
    background-color: #000;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
}

.ligne-burger:nth-child(1) {
    top: 0;
}

.ligne-burger:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.ligne-burger:nth-child(3) {
    bottom: 0;
}

.menu-navigation {
    float: right;
    font-weight: bold;
}

.menu-navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menu-navigation li {
    padding: 10px;
}

.menu-navigation a {
    text-decoration: none;
    color: rgb(45, 75, 248);
}


@media screen and (max-width: 1050px) {
    .menu-burger {
        display: inline-block;
    }
    
    .menu-navigation {
        display: none;
    }
    
    .menu-navigation-active {
        display: block;
        float: none;
    }
    
    .menu-navigation ul {
        display: block;
    }
    
    .menu-navigation li {
        padding: 10px 0;
    }
    .center {
        padding-left: 8vw;
    }

    .nav-right {
        display: flex;
        flex-direction: column;
        margin-top: 1.5vw;
        margin-left: 2vw;
        /* background-color: bisque; */
        width: 12vw;
     }

     .nav-left ul li a{
        font-size:2vw;
     }

     .nav-right ul li a{
        font-size:2vw;
     }

     .nav-right ul li a span{
        font-size: 1.5vw;
        align-items: center;
     }

     .nav-left {
        margin-bottom: -12px;
     }
}